<!-- FLASH -->
<%= render 'shared/flash_notice' %>

<!-- VIEW -->
<div class="wrap_home">
  <div class="background_home position-relative">
    <div class="position-absolute concept-text">
      <p class="text-white concept-text-title">GI Sports でクラブ、スクールを探そう</p>
    </div>
    <div class="input-group keyword-search">
      <%= form_with url: search_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword, placeholder: "キーワードを入力", class: "text_field_search" %>
        <%= f.submit "検索", name: nil, class: "submit_search" %>
      <% end %>
    </div>
  </div>
  <div class="main_home row justify-content-center">
    <%= render 'homes/search_by_region_pc' %>
    <%= render 'homes/search_by_region_sp' %>
    <div class="col-home-side">
      <div class="new-information p-3 ms-5">
        <h5 class="mb-3 px-1">新着情報</h5>
        <% @schools.each do |school| %>
          <div>
            <% if school.image? %>
              <%= image_tag school.image.url, size: '278x208' %>
            <% else%>
              <%= image_tag 'noimage.jpg', size: '278x208' %>
            <%end%>
          </div>
          <div class="px-1">
            <div class="mt-2"><%= school.school_name %></div>
            <div><%= school.address %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
