<div class="wrap_home">
  <div class="background_home position-relative">
    <div class="position-absolute concept-text">
      <p class="text-white concept-text-title">GI Sports でクラブ、スクールを探そう</p>
    </div>
    <div class="input-group keyword-search">
      <%= form_with url: search_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword, placeholder: "キーワードを入力", class: "text_field_search p-3" %>
        <%= f.submit "検索", name: nil, class: "submit_search px-4 py-3" %>
      <% end %>
    </div>
  </div>
  <div class="main_home row justify-content-center">
    <div class="search-by-region p-3 my-4 mx-5 col-6">
      <h5 class="mt-3 mb-4 seotext_00">「地域で検索」ご希望の都道府県から検索できます！</h5>
      <h5 class="mb-auto">北海道・東北地方</h5>
      <ul class="list-group list-group-horizontal list-unstyled wrap">
        <li class="inline-block_home"><a href="/search?keyword=北海道">北海道</a><span>,</span></li>
        <li class="inline-block_home"><a href="/search?keyword=青森県">青森県</a><span>,</span></li>
        <li class="inline-block_home"><a href="/search?keyword=秋田県">秋田県</a><span>,</span></li>
        <li class="inline-block_home"><a href="/search?keyword=岩手県">岩手県</a><span>,</span></li>
        <li class="inline-block_home"><a href="/search?keyword=山形県">山形県</a><span>,</span></li>
        <li class="inline-block_home"><a href="/search?keyword=宮城県">宮城県</a><span>,</span></li>
        <li><a href="/search?keyword=福島県">福島県</a><span></span></li>
      </ul>
      <h5 class="mb-auto mt-3">関東地方</h5>
      <ul class="list-group list-group-horizontal list-unstyled">
        <li class="inline-block_home"><a href="/search?keyword=群馬県">群馬県</a><span>,</span></li>
        <li class="inline-block_home"><a href="/search?keyword=栃木県">栃木県</a><span>,</span></li>
        <li class="inline-block_home"><a href="/search?keyword=茨城県">茨城県</a><span>,</span></li>
        <li class="inline-block_home"><a href="/search?keyword=埼玉県">埼玉県</a><span>,</span></li>
        <li class="inline-block_home"><a href="/search?keyword=千葉県">千葉県</a><span>,</span></li>
        <li class="inline-block_home"><a href="/search?keyword=東京都">東京都</a><span>,</span></li>
        <li><a href="/search?keyword=神奈川県">神奈川県</a><span></span></li>
      </ul>
      <h5 class="mb-auto mt-3">甲信越・北陸地方</h5>
      <ul class="list-group list-group-horizontal list-unstyled">
        <li class="inline-block_home"><a href="/search?keyword=新潟県">新潟県</a><span>,</span></li>
        <li class="inline-block_home"><a href="/search?keyword=長野県">長野県</a><span>,</span></li>
        <li class="inline-block_home"><a href="/search?keyword=山梨県">山梨県</a><span>,</span></li>
        <li class="inline-block_home"><a href="/search?keyword=富山県">富山県</a><span>,</span></li>
        <li class="inline-block_home"><a href="/search?keyword=石川県">石川県</a><span>,</span></li>
        <li><a href="/search?keyword=福井県">福井県</a><span></span></li>
      </ul>
      <h5 class="mb-auto mt-3">中部・東海地方</h5>
      <ul class="list-group list-group-horizontal list-unstyled">
        <li class="inline-block_home"><a href="/search?keyword=静岡県">静岡県</a><span>,</span></li>
        <li class="inline-block_home"><a href="/search?keyword=愛知県">愛知県</a><span>,</span></li>
        <li class="inline-block_home"><a href="/search?keyword=岐阜県">岐阜県</a><span>,</span></li>
        <li><a href="/search?keyword=三重県">三重県</a><span></span></li>
      </ul>
      <h5 class="mb-auto mt-3">近畿地方</h5>
      <ul class="list-group list-group-horizontal list-unstyled">
        <li class="inline-block_home"><a href="/search?keyword=滋賀県">滋賀県</a><span>,</span></li>
        <li class="inline-block_home"><a href="/search?keyword=京都府">京都府</a><span>,</span></li>
        <li class="inline-block_home"><a href="/search?keyword=奈良県">奈良県</a><span>,</span></li>
        <li class="inline-block_home"><a href="/search?keyword=和歌山県">和歌山県</a><span>,</span></li>
        <li class="inline-block_home"><a href="/search?keyword=大阪府">大阪府</a><span>,</span></li>
        <li><a href="/search?keyword=兵庫県">兵庫県</a><span></span></li>
      </ul>
      <h5 class="mb-auto mt-3">中国地方</h5>
      <ul class="list-group list-group-horizontal list-unstyled">
        <li class="inline-block_home"><a href="/search?keyword=岡山県">岡山県</a><span>,</span></li>
        <li class="inline-block_home"><a href="/search?keyword=鳥取県">鳥取県</a><span>,</span></li>
        <li class="inline-block_home"><a href="/search?keyword=島根県">島根県</a><span>,</span></li>
        <li class="inline-block_home"><a href="/search?keyword=広島県">広島県</a><span>,</span></li>
        <li><a href="/search?keyword=山口県">山口県</a><span></span></li>
      </ul>
      <h5 class="mb-auto mt-3">四国地方</h5>
      <ul class="list-group list-group-horizontal list-unstyled">
        <li class="inline-block_home"><a href="/search?keyword=徳島県">徳島県</a><span>,</span></li>
        <li class="inline-block_home"><a href="/search?keyword=香川県">香川県</a><span>,</span></li>
        <li class="inline-block_home"><a href="/search?keyword=高知県">高知県</a><span>,</span></li>
        <li><a href="/search?keyword=愛媛県">愛媛県</a><span></span></li>
      </ul>
      <h5 class="mb-auto mt-3">九州地方・沖縄</h5>
      <ul class="list-group list-group-horizontal list-unstyled">
        <li class="inline-block_home"><a href="/search?keyword=福岡県">福岡県</a><span>,</span></li>
        <li class="inline-block_home"><a href="/search?keyword=佐賀県">佐賀県</a><span>,</span></li>
        <li class="inline-block_home"><a href="/search?keyword=長崎県">長崎県</a><span>,</span></li>
        <li class="inline-block_home"><a href="/search?keyword=大分県">大分県</a><span>,</span></li>
        <li class="inline-block_home"><a href="/search?keyword=熊本県">熊本県</a><span>,</span></li>
        <li class="inline-block_home"><a href="/search?keyword=宮崎県">宮崎県</a><span>,</span></li>
        <li class="inline-block_home"><a href="/search?keyword=鹿児島県">鹿児島県</a><span>,</span></li>
        <li><a href="/search?keyword=沖縄県">沖縄県</a><span></span></li>
      </ul>
    </div>
    <div class="col-4">
      <div class="new-information p-3 ms-5 mt-4">
        <h5 class="mb-3 new-information-title px-1">新着情報</h5>
        <% @schools.each do |school| %>
          <div>
            <% if school.image? %>
              <%= image_tag school.image.url, size: '278x208' %>
            <% else%>
              <%= image_tag 'noimage.jpg', size: '278x208' %>
            <%end%>
          </div>
          <div class="px-1">
            <div class="mt-2"><%= school.school_name %></div>
            <div><%= school.address %></div>
          </div>
        <% end %>
      </div>
      <div class="ranking p-3 ms-5 mt-4">
        <h5 class="mb-3 ranking-title">注目のスポーツランキング</h5>
        <ul class="list-group list-group-horizontal list-unstyled wrap">
          <li class="inline-block"><h5>１位 〇〇</h5></li>
        </ul>
        <ul class="list-group list-group-horizontal list-unstyled wrap">
          <li class="inline-block"><h5>２位 〇〇</h5></li>
        </ul>
        <ul class="list-group list-group-horizontal list-unstyled wrap">
          <li><h5 class="mb-auto">３位 〇〇</h5></li>
        </ul>
      </div>
    </div>
  </div>
</div>
