<!-- TITLE -->
<% provide(:title, "スクール情報編集") %>

<!-- FLASH -->
<%= render 'shared/flash_success' %>
<%= render 'shared/flash_danger' %>

<!-- VIEW -->
<div class="device_frame">
  <h2 class="mb-3">スクール情報編集</h2>
  <%= form_for(@school) do |f| %>
    <div class="form-group mb-3">
      <%= f.label :school_name, 'スクール名（必須）' %>
      <%= f.text_field :school_name, placeholder: "GIスクール", class: "form-control" %>
    </div>
    <div class="form-group mb-3">
      <%= f.label :school_email, 'メールアドレス（必須）' %>
      <%= f.email_field :school_email, placeholder: "gisports@example.com", class: "form-control" %>
    </div>
    <div class="form-group mb-3">
      <%= f.label :phone, '電話番号（必須）' %>
      <%= f.telephone_field :phone, placeholder: "半角数字で入力してください", class: "form-control" %>
    </div>
    <div class="form-group mb-3">
      <%= f.label :address, '所在地（必須）' %>
      <%= f.text_field :address, placeholder: "所在地を入力", class: "form-control" %>
    </div>
    <div class="form-group mb-3">
      <%= f.label :introduce, 'スクール紹介（任意）' %>
      <%= f.text_area :introduce, :size => "80x5", placeholder: "255文字以内で入力してください", class: "form-control" %>
    </div>
    <div class="form-group mb-3">
      <%= f.label :home_page, 'ホームページ（任意）' %>
      <%= f.url_field :home_page, placeholder: "URLを入力", class: "form-control" %>
    </div>
    <div class="form-group mb-3">
      <%= f.label :image, 'スクール画像（任意）' %>
      <%= f.file_field :image, class: "d-block" %>
    </div>
    <%= f.submit 'スクール情報の編集を完了する', class: "btn btn-primary my-3 form-control" %>
  <% end %>
  <% unless @school.user.email == "guest@exapmle.com" then %>
    <div class="text-center">
      <%= link_to "スクール情報削除", school_path(@school.id), method: :delete, class: "delete-function", "data-confirm" => "本当に削除しますか？" %>
    </div>
  <% end %>
</div>
