<div class="container px-5">
  <div class="row">
    <div class="col_search mx-auto">
      <h3 class="my-4 ms-3 p-1"><%= @school.school_name %></h3>
    </div>
  </div>
  <div class="row">
    <div class="col_search mx-auto">
      <div class="pt-3 px-5 school-list">
        <div class="image_school_show">
          <% if @school.image? %>
            <%= image_tag @school.image.url, class: "image-size_school_show" %>
          <% else%>
            <%= image_tag 'noimage.jpg', class: "image-size_school_show" %>
          <%end%>
        </div>
        <div class="school_information_show">
          <span class="fw-bold">＜所在地＞</span><br>
          <div class="font_information_show"><%= @school.address %></div>
        </div>
        <div class="school_information_show">
          <span class="fw-bold">＜スクール紹介＞</span><br>
          <div class="font_information_show"><%= @school.introduce %></div>
        </div>
        <div class="contact-information">
          <div class="mb-3">
            <span class="rmarker">↓お問い合わせはこちらから↓</span>
          </div>
          <div class="mb-3">
            <span class="fw-bold">電話番号：</span>
            <div class="font_information_show"><%= @school.phone %></div>
          </div>
          <div class="">
            <span class="fw-bold">メールアドレス：</span>
            <div class="font_information_show"><%= @school.school_email %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
