<div class="container px-5">
  <div class="row">
    <div class="col-8 mx-auto">
      <h3 class="my-4 ms-3 p-1"><%= @school.school_name %></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-8 mx-auto">
      <div class="pt-3 px-5 school-list">
        <div class="text-center">
          <% if @school.image? %>
            <%= image_tag @school.image.url, size: '320x240' %>
          <% else%>
            <%= image_tag 'noimage.jpg', size: '320x240' %>
          <%end%>
        </div>
        <div class="mx-4 my-3 px-4">
          <span class="fw-bold">＜所在地＞</span><br>
          <div style="font-size: 20px;"><%= @school.address %></div>
        </div>
        <div class="mx-4 my-3 px-4">
          <span class="fw-bold">＜スクール紹介＞</span><br>
          <div style="font-size: 20px;">体験入学実施中！オリジナルバスタオルをプレゼント！</div>
        </div>
        <div class="mx-4 px-4 contact-information text-center">
          <div class="mb-3">
            <span class="rmarker">↓お問い合わせはこちらから↓</span>
          </div>
          <div class="mb-3">
            <span class="fw-bold">電話番号：</span>
            <div style="font-size: 20px;"><%= @school.phone %></div>
          </div>
          <div class="">
            <span class="fw-bold">メールアドレス：</span>
            <div style="font-size: 20px;"><%= @school.school_email %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
